.label-active{
    max-height: 50px;
  }
  
  
  
  .card-drop {
    max-width: 320px;
    position: relative;
    /*margin: 0 auto;*/
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
    height:600px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  
  .card-drop a {
    display: block;
    width: 100%;
    padding: 20px 0 20px 20px;
    height: 60px;
    text-decoration: none;
    color: #ffffff;
    background-color: #444444;
    border-bottom: 1px solid #000000;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .card-drop a i {
    display: inline-block;
    width: 20px;
    
  }
  .card-drop > a.toggle {
    position: relative;
    z-index: 300;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    background-color: #005085;
  }
  .card-drop > a.toggle:active {
    -moz-transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
  }
  .card-drop > a.toggle.active:before {
    content: "\f0d8";
  }
  .card-drop > a.toggle:before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    font-size: 1.3em;
    color: white;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    height: 59px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    display: block;
    border-left: 1px solid #000000;
  }
  .card-drop ul {
    position: absolute;
    height: 100%;
    top: 0;
    display: block;
    width: 100%;
  }
  .card-drop ul li {
    margin: 0 auto;
    -moz-transition: all, ease-out 0.3s;
    -o-transition: all, ease-out 0.3s;
    -webkit-transition: all, ease-out 0.3s;
    transition: all, ease-out 0.3s;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
  }
  .card-drop ul li a:hover {
    background-color: #9811ce;
    color: #edf1f2;
  }
  .card-drop ul li.active a {
    color: #a5bcbf;
    background-color: #74089e;
    cursor: default;
  }
  
  .card-drop ul li.active a:hover {
    color: #a5bcbf;
    background-color: #9811ce;
    cursor: default;
  }
  
  
  .card-drop ul li.closed a:hover {
    cursor: default;
    background-color: #9811ce;
  }